.home_wrapper{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.7rem;
    margin: 0.1rem auto;
    width: 80%;

}

h1 {
    font-size: 1rem;
    font-weight: 600;
}

h3{
    font-size: 0.9rem;
    font-weight: 100;
}

.service{
    display: grid;
    gap: 1rem;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}